


/* MENU */
#menu {
    width: 13%;
    margin-left: 7%;
    height: 25px;
    display: inline-block;
    position: relative;
    
}

#menu>span {
    position: relative;
    border: solid white 1px;
    display: inline-block;
    width: 90%;
    
}

#menu #btnMenu{
    width: 50px;
    height: 50px;
    left: 10%;
    top: 10%;
    position: absolute;
    cursor: pointer;
    opacity: 0;
   
}
.menuLateral{
    display: flex;
    flex-direction: column;
   position: fixed;
   align-items: center;
   height: 100vh;
   /* z-index: 100; */
}

.menuLateralList{
    /* margin-left: 120px; */
    display: flex;
    flex-direction: column;
    gap: 00px;
    align-items: center;
    margin-top: 80px;

    font-size: 25px;
    font-family: 400;
    
}
.menuLateralList li{
    margin-bottom: 30px;
}

.menuLateralList a{
    text-decoration: none;
    color: white;
}
.menuLateralList #blogCheck {
  opacity: 0;
  
}

.menuLiBlog {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* gap: 20px; */
  margin-bottom: -10px;
  margin-top: -10px;
  position: relative;
  
}

.menuLiBlog label{
    cursor: pointer;
    transition: 1s;
}
.labelMenuBlog::after {
  content: "";
  display: inline-block;
  width: 13px;
  height: 13px;
  margin-left: 5px;
  background-image: url(../img/icon/minusIcon.png);
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0;
  transform: rotate(90deg);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

#blogCheck:checked + .labelMenuBlog::after {
  opacity: 1;
  transform: rotate(0deg);
}

.menuLiBlog .submenuBlog {

    display: flex;
    flex-direction: column;
    align-items: center;
    

  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: max-height 0.8s ease, opacity 0.8s ease;
  padding-left: 10px;
  width: 100%;
}

.submenuBlog li:last-of-type {
    margin-bottom: 0px;
}

#blogCheck:checked ~ .submenuBlog {
  max-height: 200px; 
  opacity: 1;
  margin-top: 35px;
  margin-bottom: 0px;
}





/* #menu #btnMenu{
    position: fixed;
} */

#menu #btnMenu:checked{
    left: 78vw;
    z-index: 1000;
    margin-top: -5vh;
    position: fixed;
    width: 70px;
    height: 70px;
 
    
        
}
#btnMenu:checked ~ .menuLateral{
    right: -50px;
 
}

#menu aside {
    background-color: #111111;
    width: 450px;
    height: 110vh;
    padding: 75px 50px 10px 17px;
    position: fixed;
    top: -6vh;
    right: -800px; 
    transition: right 0.5s ease;
    z-index: 100;

    
}

.closeAside{
    position: absolute;
    top: 10%;
    left: 8%;
    width: 40px;
    height: 40px;
    background-color: white;
    margin-bottom: 20px;
    cursor: pointer;
    
}
/* .closeAside:hover{
    filter: brightness(0) saturate(500%) sepia(1) hue-rotate(15deg);

} */
.menuLateral.fechado {
    right: -800px; 
}

.menuListaFooterRedes{
    margin-top: 45vh;
    display: flex;
    gap: 15px;
}
.menuRedeSocial{
    cursor: pointer;
    width: 40px;
}

